
.Forecast{
  display: inline-block;
  border-bottom: 3px solid gold;
}

.ForecastImage{
  margin-top: 2em;
}

.ForecastImage .fullReport {
	margin-bottom: 2em;
}

.forecasts-container .underline_waaves {
	margin-top: 20px;
}

.seabreeze {
	width: 49%;
	padding-right: 8%;
	box-sizing: border-box;
}

.seabreeze img {
	display: block;
    padding: 31px 0;
    width: 100%;
}

.forecast-title {
	display: inline-block;
	border-bottom: 3px solid gold;
}

/*tablet*/
@media screen and (max-width: 1023px){
  .seabreeze {
  	display: block;
  	width: 100%;
  }
}

/*mobile*/
@media screen and (max-width: 767px){
  .forecasts-container {
    margin-top: 1em;
  }

  .seabreeze {
  	display: block;
  	width: 100%;
  }
}

