
.Forecast{
  display: inline-block;
  border-bottom: 3px solid gold;
}

.ForecastImage{
  margin-top: 2em;
}

.ForecastImage .fullReport {
	margin-bottom: 2em;
}

.forecastContainer {
	width: 50%;
}

.forecastContainer .fullReport a {
  color: #7b7b7b;
}

.forecastContainer .fullReport a:hover {
  color: gold;
}

.forecastContainer .underline_waaves {
	margin-top: 20px;
}

.seabreze {
}