header {
	position: fixed;
	height: 100px;
	opacity: 0.7;
	background-color: #000;
	width: 100%;
	text-transform: uppercase;
	z-index: 1000;
	font-family: 'Nunito', sans-serif;

}

nav {
	margin-left: 120px;
	margin-right: 120px;
	height: 100%;
    position: relative;
}

.navlinksleft, .navlinksright {
	display: inline-block;
}

.navlinksleft {
	width: 49%;
	text-align: left;
    vertical-align: bottom;
    padding-bottom: 0.5em;
}

.navlinksright {
	width: 49%;
	text-align: right;
}

.navlinksright img {
	height: 90px;
}

.navlinksright a {
	display: inline-block;
    width: 0;
}

header a {
	text-decoration: none;
	margin-right: 5em;
	color: rgb(255, 219, 38);
}

.selected {
	color : #fff !important;
	border-bottom: 2px solid #fff;
}

.spotslist.show{
	display: visible;
}

.spotslist.hide {
	display: none;
}

.spots-navlink {
	cursor: pointer;
	cursor: hand;
}

/*tablet*/
@media screen and (max-width: 1023px){

}

/*mobile*/
@media screen and (max-width: 767px){
	nav {
		margin-left: 20px;
		margin-right: 20px;
	}

	.navlinksleft a {
		margin-right: 2em;
	}

	.navlinksright a {
		margin-right: 4em;
	}
}