.report {
	width: 49%;
	display: inline-block;
  box-sizing: border-box;
}

.report-header h2 {
  text-transform: uppercase;
}

.report-header img {
	text-align: center;
    margin: 0 auto;
    display: block;
}

.report-header-content{
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.report-header-content img{
  width: 40%;
}

.reportName{
  display: inline-block;
  border-bottom: 3px solid gold;
}

.reportName h2 {
  margin-bottom: 3px;
}

.reportDate {
  display: block;
  padding-top: 1em;
  font-weight: 400;
  font-size: 1.4em;
  color: #cecece;
}

.report-conditions {
  margin-top: 3em;
  display: flex;
}

.condition {
  display: inline-block;
  margin-right: 3em;
  width: 10%;
}

.condition img, .condition span {
  display: block;
}

.condition img {
  width: 100%;
}

.condition span {
  padding-top: 0.5em;
  text-align: center;
  text-decoration: uppercase;
  font-weight: bold;
}

.report-description {
  margin-top: 3em;
  font-size: 1.3em;
  line-height: 1.4;
  padding-right: 10%;
}

.report-description .description-title{
  font-weight: bold;
}

/*tablet*/
@media screen and (max-width: 1023px){
.recommendation {
width: 100%;
height: auto;
}
}
/*mobile*/
@media screen and (max-width: 767px){

  .recommendations-container {
    width: 90%;
    padding: 5% 5%;
  }

  .recommendation .description {
  font-size: 2em;
  }
}