.spots-selection-container  {
	background-color: #000;
	z-index: 1000;
    padding: 10px 120px 0px;
}
.spots-selection-container .underline_waaves{
  background-image: url('/images/underline_waaves.svg');
  width:100%;
  height: 12px;
}

.spots-selection-container ul {
	list-style-type: none;
    color: gold;
    padding-left: 0;
    margin-top: 0;
    padding-top: 1em;
    display: inline-block;
}

.spots-selection-container ul li {
	margin: 0.4em 0;
    cursor: pointer;
    clear: both;
    float: left;
}

.spots-selection-container li:hover{
    color: #fff;
    border-bottom: 2px solid #fff;
}